<div class="login">

    <h2 class="login-header">Log in</h2>

    <form class="login-container" action="/login" method="POST">
        <p>
            <input type="email" placeholder="Email" name="username">
        </p>
        <p>
            <input type="password" placeholder="Password" name="password">
        </p>
        <p>
            <input type="submit" value="Log in">

        </p>
        <p>

            <a href="/register" style=""> Register</a>
        </p>
    </form>
</div>